<% foundUser.posts.forEach(element=> {
    if(element.like){
    if(element.like.includes(user._id.toString())){
    element.iLike='text-primary'
    }else{
    element.iLike=''
    }
    }else{element.iLike=''}
    %>




    <div class="card mt-5" style="background-color: #242526;">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-4 align-items-center">
                    <div>
                        <a class=" text-light" href="<%= foundUser._id %>"><img class="rounded-circle"
                                src="<%= foundUser.imgProfile %>" style="width: 37px;"></a>
                    </div>
                    <div>
                        <h6 class="m-0">
                            <%= element.name %>
                        </h6><span>
                            <%= new Date(element.time).toLocaleString() %>
                        </span>
                    </div>
                </div>


                <span>
                    <i class="fas fa-ellipsis-v"></i>
                </span>


            </div>
            <div class="mt-3">
                <p>
                    <%= element.content %>
                </p>
            </div>
        </div>


        <% if(element.img!=='#' ){%>

            <div class="container-fluid p-0 d-flex justify-content-center bg-dark"
                style="max-height: 50vh;min-height: 40vh; ">
                <img src="<%= element.img %>" class=" " alt="..." style="object-fit: contain; max-width: 100%;">
            </div>

            <%}%>


        <!-- -- -->
        <div class="card-body">
            <div class="d-flex justify-content-between border-bottom border-secondary">
                <div><i class="far fa-thumbs-up"></i><span>
                        <%= element.like.length %>
                    </span></div>
                <div>commenti:<%= element.comment.length %></div>

            </div>

            <div class="row gap-1 justify-content-around mt-2">
                <div role="button" class="col-3 text-center  <%= element.iLike %>"
                    onclick="postDataLike(this,'/<%= foundUser._id %>/<%= element._id %>')">
                    <i class="far fa-thumbs-up" style="font-size: 2rem;"></i></div>
                        
                <div role="button" onclick="toggleDblockFromComments(this)" class="col-3 text-center">
                    <i class="far fa-comment-alt" style="font-size: 2rem;"></i>
                </div>
                <div class="col-3 text-center">
                    <i class="fas fa-share" style="font-size: 2rem;"></i>
                </div>

            </div>

            <div class="d-flex gap-2 align-items-center mt-3 d-none">

                <img class="rounded-circle" src="<%= user.imgProfile %>" style="width: 37px;height: 37px;">

                <textarea onkeyup="commentDataLike(this,'/<%= foundUser._id %>/<%= element._id %>')"
                    class="form-control rounded-pill" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 50px;resize: none;"></textarea>

            </div>
            
            <!-- div apertura commenti del post -->
            <div>
                <span role="button" onclick="showComment(this,'/<%= foundUser._id %>/<%= element._id %>')">Commenti</span>

                <!-- rootOfcomments -->
                <div></div>

            </div>

            <!-- --- -->



        </div>
        <!-- -- -->



    </div>

    <% }) %>